<ion-content>
      <div class="center-y">
            <ion-grid [fixed]="true">
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                                <ion-img src="assets/img/logo.png"></ion-img>
                        </ion-col>   
                    </ion-row>

                    <ion-row class="ion-justify-content-center">
                      <ion-col size="11">
                          <div class="title">
                            Kreye yon kont Raf ou
                          </div>
                      </ion-col>
                    </ion-row>

                    <ion-row class="ion-justify-content-center">
                      <ion-col size="11">
                          <div class="sub-title">
                            Ou gen kont Raf deja? <ion-text color="primary">Koneksyon</ion-text>
                          </div>
                      </ion-col>
                    </ion-row>

                      <ion-row>
                        <ion-col>
                          <form [formGroup]="formGroup" (submit)="onSubmit()">
                            <ion-grid>

                              <ion-row class="ion-justify-content-center">
                                <ion-col>
                                      <ion-input 
                                        formControlName="prenom"
                                        label="Non"
                                        label-placement="floating"
                                        placeholder="Antre non ou"
                                        helperText="Antre yon non ki valid" 
                                        errorText="non sa pa valid"/>
                                </ion-col>
                              </ion-row>

                              <ion-row class="ion-justify-content-center">
                                <ion-col>
                                      <ion-input 
                                        formControlName="nom"
                                        label="Sinyatiw"
                                        label-placement="floating"
                                        placeholder="Antre sinyatiw ou"
                                        helperText="Antre yon sinyatiw ki valid" 
                                        errorText="Sinyati sa pa valid"/>
                                </ion-col>
                              </ion-row>

                              <ion-row class="ion-justify-content-center">
                                <ion-col>
                                      <ion-input 
                                        formControlName="telephone"
                                        type="telephone"
                                        label="Telefon"
                                        label-placement="floating"
                                        placeholder="Antre telefon ou"
                                        helperText="Antre yon telefon ki valid" 
                                        errorText="telefon sa pa valid"/>
                                </ion-col>
                              </ion-row>

                              <ion-row class="ion-justify-content-center">
                                <ion-col>
                                      <ion-input 
                                        formControlName="email"
                                        email 
                                        label="Imel"
                                        label-placement="floating"
                                        placeholder="Antre imel ou"
                                        helperText="Antre yon imel ki valid" 
                                        errorText="Imel sa pa valid"/>
                                </ion-col>
                              </ion-row>

                              <ion-row class="ion-justify-content-center">
                                <ion-col>
                                  <ion-button expand="block" type="submit">
                                      @if(isLoading){
                                          <ion-spinner name="dots"></ion-spinner>
                                      }@else{
                                          <ion-text>Enskripsyon</ion-text>
                                      }
                                  </ion-button>
                                </ion-col>
                              </ion-row>

                            </ion-grid>
                          </form>
                        </ion-col>
                      </ion-row>

                    
            </ion-grid>
      </div>
</ion-content>