<div class="ion-page">
  <ion-content [forceOverscroll]="false">
    <div class="center">
        <div class="max-content-w">
          <ion-grid [fixed]="true">
                  <ion-row class="ion-justify-content-center">
                      <ion-col size="6">
                              <ion-img src="assets/img/logo.png"></ion-img>
                      </ion-col>   
                  </ion-row>

                  <ion-row class="ion-justify-content-center">
                    <ion-col size="11">
                        <div class="title">
                          Kreye kont Raf ou
                        </div>
                    </ion-col>
                  </ion-row>

                  <ion-row class="ion-justify-content-center">
                    <ion-col size="11">
                        <div class="sub-title">
                          Ou gen kont Raf deja? <ion-text color="primary" routerLink="/login">Koneksyon</ion-text>
                        </div>
                    </ion-col>
                  </ion-row>

                    <ion-row>
                      <ion-col>
                        <form [formGroup]="formGroup" (submit)="onSubmit()">
                          <ion-grid>
                            <ion-row class="ion-justify-content-center">
                              <ion-col>
                                    <ion-input 
                                      formControlName="nom"
                                      label="Sinyati"
                                      label-placement="floating"
                                      placeholder="Antre sinyatiw ou"
                                      helperText="Sa ap pemet nou pi byen idantifye w" 
                                      [errorText]="nomErrorText"/>
                              </ion-col>
                            </ion-row>

                            <ion-row class="ion-justify-content-center">
                              <ion-col>
                                    <ion-input 
                                      formControlName="prenom"
                                      label="Non"
                                      label-placement="floating"
                                      placeholder="Antre non ou"
                                      helperText="Sa ap pemet nou pi byen idantifye w" 
                                      [errorText]="prenomErrorText"                                      
                                      />
                              </ion-col>
                            </ion-row>

                            <ion-row class="ion-justify-content-center">
                              <ion-col>
                                    <ion-input 
                                      formControlName="telephone"
                                      type="number"
                                      label="Telefon"
                                      label-placement="floating"
                                      placeholder="Antre telefon ou"
                                      helperText="Nimewo sa ap pemet ou fe tranzaksyon MonCash sou platfom lan" 
                                      [errorText]="telephoneErrorText"/>
                              </ion-col>
                            </ion-row>
                            

                            <ion-row class="ion-justify-content-center">
                              <ion-col>
                                    <ion-input 
                                      formControlName="username"
                                      label="Non Itilizate"
                                      label-placement="floating"
                                      placeholder="Antre on non itilizate"
                                      helperText="Non sa ap pemet ou pi diskre sou platfom nan" 
                                      [errorText]="usernameErrorText"/>
                              </ion-col>
                            </ion-row>

                            <ion-row class="ion-justify-content-center">
                              <ion-col>
                                    <ion-input 
                                      formControlName="email"
                                      email 
                                      label="Imel"
                                      label-placement="floating"
                                      placeholder="Antre imel ou"
                                      helperText="Imel sa ap pemet nou kontakte w,epi restore modpass ou" 
                                      [errorText]="emailErrorText"/>
                              </ion-col>
                            </ion-row>

                            <ion-row class="ion-justify-content-center">
                              <ion-col>
                                @if (isLoading) {
                                    <ion-button disabled="true" expand="block" type="submit">
                                        <ion-spinner></ion-spinner>
                                    </ion-button>
                                }@else {
                                    <ion-button expand="block" type="submit">
                                      <ion-text>Enskripsyon</ion-text>
                                    </ion-button>
                                }
                              </ion-col>
                            </ion-row>

                          </ion-grid>
                        </form>
                      </ion-col>
                    </ion-row>

                  
          </ion-grid>
        </div>
        <ion-toast color="danger"  [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000" icon="close-sharp"></ion-toast>
    </div>
    
  </ion-content>
</div>