ion-input{
    --ion-color-success: #ff9800;
}

ion-button{
    margin: 0;
    width: 100%;
}

.title{
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--ion-color-dark-tint);
    font-size: 20px;
}

.sub-title{
    color: var(--ion-color-dark-tint);
    font-size: small;
    text-align: center;
}