<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <!-- <ion-list-header>Inbox</ion-list-header>
      <ion-note>hi&#64;ionicframework.com</ion-note> -->

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <!-- <ion-list id="labels-list">
      <ion-list-header>Labels</ion-list-header>

      <ion-item *ngFor="let label of labels" lines="none">
        <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>{{ label }}</ion-label>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-menu>
<div id="main-content">  
  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="toolbar">
          <div class="my-logo">
            <ion-img src="assets/img/logo.png"></ion-img>
          </div>
          <div class="logo-profile">
            <ion-img src="assets/img/logoProfile.jpg"></ion-img>
          </div>
        </div>
        
      </ion-toolbar>
      <ion-segment>
          <ion-segment-button value="first" contentId="first">
              <ion-label>Kwiz ki poko fini</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second" contentId="second">
            <ion-label>Kwiz ki fini</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-header>   
  <ion-content>
      <ion-segment-view>
        <ion-segment-content id="first">
              <ion-list>
                <ion-item lines="none" routerLink="/accueil/quiz">
                  <ion-avatar slot="start">
                      <img src="assets/img/mathematique_illustration.jpg" alt="">
                  </ion-avatar>
                  <ion-label>Matematik</ion-label>
                </ion-item>
              </ion-list>
        </ion-segment-content>
        <ion-segment-content id="second">
          <ion-list>
            <ion-item lines="none" routerLink="/accueil/quiz">
              <ion-avatar slot="start">
                  <img src="assets/img/mathematique_illustration.jpg" alt="">
              </ion-avatar>
              <ion-label>Matematik</ion-label>
            </ion-item>
          </ion-list>
        </ion-segment-content>
      </ion-segment-view>
  </ion-content>

  <!-- https://hubstreamonlineapi-production.up.railway.app/api.online.hubstream.com/compte/FW374006 -->
</div>


