<ion-content [forceOverscroll]="false">
      <div class="center">
            <div class="max-content-w">
                  <ion-grid [fixed]="true">
                        <ion-row class="ion-justify-content-center">
                          <ion-col size="6">
                                  <ion-img src="assets/img/logo.png"></ion-img>
                          </ion-col>   
                        </ion-row>

                        <ion-row class="ion-justify-content-center">
                              <ion-col size="11">
                                  <div class="title">
                                    Kreye on modpass pou kont Raf ou an
                                  </div>
                              </ion-col>
                        </ion-row>

                        <ion-row>
                              <ion-col>
                                    <form>
                                          <ion-grid>
                                                <ion-row>
                                                      <ion-col>
                                                            <ion-input 
                                                                  label="Modpass"
                                                                  label-placement="floating"
                                                                  placeholder="Antre non ou"
                                                                  helperText="Antre yon non ki valid" 
                                                                  errorText="non sa pa valid"
                                                                  type="password"
                                                            />
                                                      </ion-col>
                                                </ion-row>
                                                <ion-row>
                                                      <ion-col>
                                                            <ion-input 
                                                                  label="Konfime modpass lan"
                                                                  label-placement="floating"
                                                                  placeholder="Antre modpass lan"
                                                                  helperText="Antre menm modpass lan" 
                                                                  errorText="Modpass yo pa dwe diferan"
                                                                  type="password"
                                                            />
                                                      </ion-col>
                                                </ion-row>
                                                
                                                <ion-row class="ion-justify-content-center">
                                                      <ion-col>
                                                        <ion-button expand="block" type="submit">
                                                            @if(isLoading){
                                                                <ion-spinner name="dots"></ion-spinner>
                                                            }@else{
                                                                <ion-text>Validasyon</ion-text>
                                                            }
                                                        </ion-button>
                                                      </ion-col>
                                                </ion-row>

                                          </ion-grid>
                                    </form>
                              </ion-col>
                        </ion-row>
                  </ion-grid>
            </div>
      </div>
</ion-content>
