<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/accueil"></ion-back-button>
      </ion-buttons>
      <ion-title>Chanje Modpass</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="formGroup" (submit)="onSubmit()">
        <ion-grid>
            <ion-row>
                <ion-col>
                  <ion-input
                    formControlName="ancienPassword"
                    type="password"
                    label="Ansyen Modpass"
                    label-placement="floating"
                    placeholder="Antre ansyen modpass la"
                    helperText="Sa ap pemet nou pwotoje kont ou an pi byen" 
                    errorText="Ansyen modpass la paka rete vid"
                  ></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input 
                  formControlName="nouveauPassword"
                  type="password"
                  label="Nouvo Modpass"
                  label-placement="floating"
                  placeholder="Antre nouvo modpass la"
                  helperText="Sa ap pemet nou pwotoje kont ou an pi byen" 
                  [errorText]="nouveauPasswordErrorText"/>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input 
                  formControlName="confirmPassword"
                  type="password"
                  label="Konfime Modpass la"
                  label-placement="floating"
                  placeholder="Antre nouvo modpass la anko"
                  helperText="Sa ap pemet nou pwotoje kont ou an pi byen" 
                  [errorText]="confirmPasswordErrorText"/>
              </ion-col>
            </ion-row>
            <ion-row class="last-ion-row">
              <ion-col>
                  @if(isLoading){
                      <ion-button expand="block" type="submit" disabled="true">
                            <ion-spinner></ion-spinner>
                      </ion-button>
                  }@else {
                      <ion-button expand="block" type="submit" >
                            <ion-text>Chanje</ion-text>
                      </ion-button>
                  }
              </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-toast [color]="toastColor" position="top"  [isOpen]="isToastOpen" [message]="toastMessage" [duration]="3000" [icon]="toastIcon"></ion-toast>
  </ion-content>
</div>
