<div class="ion-page">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/accueil"></ion-back-button>
        </ion-buttons>
        <ion-title>kwiz Matematik</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-grid>
            
            <ion-row>
              <ion-col>
                <div class="ion-row-score">
                  <span>Meye Sko 
                    @if(bestPartie){
                      <b>{{bestPartie.score}} Ks</b>
                    }@else {
                      <b>{{quiz?.bestScore}} Ks</b>
                    }
                  </span>
                  <span>Sko <b>{{score}} Ks</b></span>
                </div>
              </ion-col>
              
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="2">
                <div class="my-timer">
                  <app-timer [timerLeft]="timerLeft" #timer (timerComplete)="onTimerFinished()"/>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="question-box">
                        <p>{{question.value}}</p>
                    </div>
                    
                </ion-col>
            </ion-row>
            <ion-row class="last-ion-row">
                <ion-col>
                  <div class="reponses-box">
                        <div [class]="'reponse-box '+reponseStatutA" (click)="onClickToAnswer(reponses[0].id,'A')">
                           <div class="reponse-letter">A:</div>  {{reponses[0].value}}
                        </div>
                        <div [class]="'reponse-box '+reponseStatutB" (click)="onClickToAnswer(reponses[1].id,'B')">
                          <div class="reponse-letter">B:</div> {{reponses[1].value}}
                        </div>
                        <div [class]="'reponse-box '+reponseStatutC" (click)="onClickToAnswer(reponses[2].id,'C')">
                          <div class="reponse-letter">C:</div> {{reponses[2].value}}
                        </div>
                        <div [class]="'reponse-box '+reponseStatutD" (click)="onClickToAnswer(reponses[3].id,'D')">
                          <div class="reponse-letter">D:</div> {{reponses[3].value}}
                        </div>
                  </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content> 

</div>
<ion-alert
  [isOpen] ="isAlertOpen"
  header ="Pati a fini"
  [message] = "message"
  [buttons] = "alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>