<ion-content [forceOverscroll]="false">
  <div class="center">
        <div class="max-content-w">
              <ion-grid [fixed]="true">
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="6">
                              <ion-img src="assets/img/logo.png"></ion-img>
                      </ion-col>   
                    </ion-row>

                    <ion-row class="ion-justify-content-center">
                          <ion-col size="11">
                              <div class="title">
                                Kreye on modpass pou kont Raf ou an
                              </div>
                          </ion-col>
                    </ion-row>

                    <ion-row>
                          <ion-col>
                                <form [formGroup]="formGroup" (submit)="onSubmit()">
                                      <ion-grid>
                                            <ion-row>
                                                  <ion-col>
                                                        <ion-input 
                                                              label="Modpass"
                                                              label-placement="floating"
                                                              placeholder="Antre modpass lan"
                                                              helperText="On bon modpass sipoze gen pou piti 8 karakte,let ak chif epi kek senbol(siw vle)" 
                                                              [errorText]="passwordErrorText"
                                                              type="password"
                                                              formControlName="password"
                                                        />
                                                  </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                  <ion-col>
                                                        <ion-input 
                                                              label="Konfime modpass lan"
                                                              label-placement="floating"
                                                              placeholder="Antre modpass lan"
                                                              helperText="Antre menm modpass lan" 
                                                              [errorText]="confirmPasswordErrorText"
                                                              type="password"
                                                              formControlName="confirmPassword"
                                                        />
                                                  </ion-col>
                                            </ion-row>
                                            
                                            <ion-row class="ion-justify-content-center">
                                                  <ion-col>
                                
                                                    @if(isLoading){
                                                        <ion-button expand="block" type="submit" disabled="true">
                                                              <ion-spinner></ion-spinner>
                                                        </ion-button>
                                                    }@else {
                                                        <ion-button expand="block" type="submit" >
                                                              <ion-text>Validasyon</ion-text>
                                                        </ion-button>
                                                    }
                                                  </ion-col>
                                            </ion-row>

                                      </ion-grid>
                                </form>
                          </ion-col>
                    </ion-row>
              </ion-grid>
        </div>
  </div>
  <!-- <ion-toast [color]="colorToast"  [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000" [icon]="iconToast"></ion-toast> -->
</ion-content>
