<ion-content [forceOverscroll]="false">
  <div class="center">
        <div class="max-content-w">
              <ion-grid [fixed]="true">
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="6">
                              <ion-img src="assets/img/logo.png"></ion-img>
                      </ion-col>   
                    </ion-row>

                    <ion-row class="ion-justify-content-center">
                          <ion-col size="11">
                              <div class="title">
                                Antre imel ou te kreye kont lan avel lan,nap voye on kod pou ou
                              </div>
                          </ion-col>
                    </ion-row>

                    <ion-row>
                          <ion-col>
                                <form [formGroup]="formGroup" (submit)="onSubmit()">
                                      <ion-grid>
                                        <ion-row class="ion-justify-content-center">
                                          <ion-col>
                                                <ion-input 
                                                  formControlName="email"
                                                  email 
                                                  label="Imel"
                                                  label-placement="floating"
                                                  placeholder="Antre imel ou"
                                                  helperText="Imel sa ap pemet nou kontakte w,epi restore modpass ou" 
                                                  [errorText]="emailErrorText"/>
                                          </ion-col>
                                        </ion-row>
                                            
                                            <ion-row class="ion-justify-content-center">
                                                  <ion-col>
                                
                                                    @if(isLoading){
                                                        <ion-button expand="block" type="submit" disabled="true">
                                                              <ion-spinner></ion-spinner>
                                                        </ion-button>
                                                    }@else {
                                                        <ion-button expand="block" type="submit" >
                                                              <ion-text>Valide</ion-text>
                                                        </ion-button>
                                                    }
                                                  </ion-col>
                                            </ion-row>

                                      </ion-grid>
                                </form>
                          </ion-col>
                    </ion-row>
              </ion-grid>
        </div>
  </div>
  <ion-toast color="danger"  [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000" icon="close-sharp"></ion-toast>
</ion-content>
